#buttonContainer {
    position: fixed;
    right: 10%;
    top: 90%;
}

#parentList {
    padding-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#comicList {
    width: 50%;
}