
<div>
    <form>
        <mat-form-field>
            <mat-label>
                Usuario
            </mat-label>
            <input matInput type="email" formControlName="name">
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>
                Raza
            </mat-label>
            <input matInput type="text" formControlName="pass">
        </mat-form-field>
        <br>
        <br>
        <button mat-flat-button type="submit" color="primary">Ingresar al sistema</button>
        <button>Registrar usuario</button>
    </form>
</div>