
<div id="parentContainer">
    <div id="registerContainer">
        <form id="register" [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <mat-form-field appearance="fill">
                <mat-label>
                    Nombre
                </mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    Usuario
                </mat-label>
                <input matInput type="text" formControlName="userName">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>
                    Password
                </mat-label>
                <input matInput type="password" formControlName="pass">
            </mat-form-field>
            <br>
            <mat-form-field id="date" appearance="fill">
                <mat-label>
                    Fecha Nacimiento
                </mat-label>
                <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="userSex" >
                  <mat-option *ngFor="let option of sexes" [value]="option.sexId">{{option.description}}</mat-option>
                </mat-select>
                <!--mat-hint>Errors appear instantly!</mat-hint>
                <mat-error *ngIf="selected.hasError('required')">You must make a selection</mat-error>
                <mat-error *ngIf="selected.hasError('pattern') && !selected.hasError('required')">
                  Your selection is invalid
                </mat-error-->
            </mat-form-field>
            <mat-error *ngIf="error">{{error}}
            </mat-error>
            <br>
            <br>
            <button mat-flat-button type="submit" color="primary">Registrarme</button>
            <br>
            <br>
            <button mat-flat-button (click)="login()">Iniciar sesión</button>
        </form>
    </div>
</div>